<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @instructor.phone %>
</p>

<%= form_tag("/instructors/" + @instructor.id.to_s + "/text", method: "get") do %>
    <%= label_tag(:message, "message")%>
    <%=text_field_tag(:message) %>
    <%=submit_tag("Send Text!") %>
  <%end %>
<br>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
